@rendermode InteractiveServer
@using global::blazorpus.BlazorPus
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Microsoft.AspNetCore.Components.Web
@inject ReleaseDeploymentsRepository _releaseDeploymentsRepo


<div>
    <button type="button" class="btn btn-primary" title="@GitSha to @Environment" @onclick="Deploy2">
        Deploy
    </button>
</div>


@code {
    [Parameter]
    public string Environment { get; set; }
    [Parameter]
    public string GitSha { get; set; }

    private async Task Deploy2()
    {
        await _releaseDeploymentsRepo.Deploy(GitSha, Environment);
    }

}
